{% extends 'layout.html' %}
{% block body %}
<h1>Welcome to the House of Plants</h1>
<h2>What would you like to do today?</h2>

<a href = "{{ url_for('view_all') }}" >View your plants</a>
<br>
<br>
<a href = "{{ url_for('add_plant') }}" >Add a new plant</a>
<br>
<br>
<a href = "{{ url_for('view_rooms') }}" >View your rooms</a>
<br>
<br>
<a href = "{{ url_for('add_room') }}" >Add a new room</a>
<br>
<br>
<a href = "{{ url_for('choose_plant_update') }}" >Update or delete a plant</a>
<br>
<br>
<a href = "{{ url_for('search') }}" >Search</a>

{% endblock body %}
